.filter-group {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    border-radius: 3px;
    width: 120px;
    color: #fff;
}

.filter-group input[type=checkbox]:first-child + label {
    border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.filter-group input[type=checkbox],
.filter-group input[type=button]{
    display: none;
}

.filter-group input[type=button] + label {
    background-color: #c02500;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type=checkbox] + label {
    background-color: #9fc068;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type=checkbox] + label {
    background-color: #c0bcbb;
    text-transform: capitalize;
}

.filter-group input[type=checkbox] + label:hover,
.filter-group input[type=checkbox]:checked + label {
    background-color: #21be34;
}

.filter-group input[type=button] + label:hover {
    /*background-color: #004dbe;*/
    padding: 8px;
    border: 3px solid rgba(0, 0, 0, 0.25);

    /*border-bottom: 5px solid rgba(0, 0, 0, 0.25);*/

}
.filter-group input[type=checkbox]+ label:before {
    content: '✖';
    margin-right: 5px;
}

.filter-group input[type=checkbox]:checked + label:before {
    content: '✔';
    margin-right: 5px;
}